<html><head><title>Render</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="render.js"></script>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
	<div ng-app="myApp" ng-controller="customersCtrl">
 <ul>
		<li ng-repeat="x in myData">
			Title :{{x.subtitle}} <br> Code : {{x.key}} <br>
			<img src="{{x.image}}" height="150" width="150"><br>
			Expected Learning : {{x.expected_learning}}<br>
			Project name : {{x.project_name}}<br>
			Demo : <a href="{{x.teaser_video.youtube_url}}">Video Available</a>


		</li>
	</ul>

</div>

</body>
